.App {
  text-align: center;
}

.title {
  font-size: 80px;
}

.subTitle {
  font-size: 40px;
  margin: 80px auto;
}

.joke {
  font-size: 40px;
  width: 70%;
  margin: 80px auto;
   
}


.button {
  background-color: aliceblue;
  border: 1px solid black;
  box-shadow: none;
  padding: 50px 80px;
  border-radius: 20px;
  font-size: 30px;;
}